<div class="jumbotron text-center">

  <h4>HELLO you are HOME</h4>

  <h3>show classes here...</h3>

  <button class="btn btn-primary" type="button" name="button" ng-click="load_enrolled()">Click to Load Courses</button>

</div>


<div class="container">
  <div class="row">



    <div class="panel panel-info" ng-repeat="class in courses_enrolled_in">

      <div class="panel-heading"><a href="/classPage">{{class.name}}</a></div>
      <div class="panel-body">
        <h3>Course Description:</h3>
        <p>{{class.description}}</p>

        <h3>Professor:</h3>
        <p>{{class.professor}}</p>

      </div>
    </div>

  </div>
</div>
