<!-- Forgot Password Modal-->
<div class="modal fade" role="dialog">
  <div class="modal dialog">
    <div class="modal-content leftText" style="width:480px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title kievet colBlack" style="font-weight:600;">Forgot Password?</h4>
      </div>
      <div class="modal-body" style="padding-bottom:55px;">
        <form>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="width100 vertCenterMid centerText" style="height:90vh;">
  <div class="bordRad10 backColorWhite posRel z1 shadow1" style="width:750px;margin-top:30px;;padding-top:15px;">

    <div class="colGreen" style="padding-top:70px;font-family:KGH;font-size:8em;">ClassQA</div>
    <div class="colGreen" style="padding-top:70px;font-family:KGHSolid;font-size:2em;">Better than Piazza and Sullstice</div>
    <div class="colGray" style="padding-top:40px;padding-bottom:40px;font-size:1.5em;">
      <div class="cabin" style="text-align:left;padding-left:105px;"><span style="margin-right:190px;font-weight:600;">Login Below </span>Need an account? <a href="/signup" style="margin-right:10px;">Sign up</a></div>
    </div>

    <form ng-submit="login()" autocomplete="off" role="presentation">

      <div style="display:flex;align-items:center;padding-left:105px;width:100%;">
        <div class="cabin" style="text-align:left;color:#888888;font-weight:600;font-size:1.5em;margin-right:40px;width:100px;">Username</div>
        <div class="input" style="width:420px;">
          <input class="input__fieldB" type="text" id="login_username" ng-model="login_username"/>
          <label class="input__labelB" for="login_username">
            <span class="input__label-contentB">If you forgot your name we can't help you</span>
          </label>
        </div>
      </div>

      <div style="display:flex;align-items:center;padding-left:105px;width:100%;">
        <div class="cabin" style="text-align:left;color:#888888;font-weight:600;font-size:1.5em;margin-right:40px;width:100px;">Password</div>
        <div class="input" style="width:420px;">
          <input class="input__fieldB" type="password" id="login_password" ng-model="login_password"/>
          <label class="input__labelB" for="login_password">
            <span class="input__label-contentB">You should remember this!</span>
          </label>
        </div>
      </div>

      <div style="text-align:right;padding-right:90px;">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                style="margin-bottom:30px;" ng-disabled="empty_login()">Login</button>
      </div>
    </form>

  </div>
</div>
<script>
  $(document).ready(function(){
    if($('#login_password').value != ''){
      $('#login_password').addClass('ng-not-empty')
    }

  })
</script>