<div style="text-align:center;display:flex;justify-content:center;align-items:center;width:100%;height:90vh;">
  <div style="border-radius:10px;width:750px;background-color:#ededed;position:relative;z-index:1; margin-top:30px;
    -webkit-box-shadow: 0px 5px 5px 0px #444444;
    -moz-box-shadow: 0px 5px 5px 0px #444444;
    box-shadow: 0px 5px 5px 0px #444444;padding-top:15px;">

    <div style="color:#4caf50;padding-top:70px;font-family:KGH;font-size:8em;">ClassQA</div>
    <div style="color:#4caf50;padding-top:70px;font-family:KGHSolid;font-size:2em;">Better than Piazza and Sullstice</div>
    <div style="color:#888888;padding-top:60px;padding-bottom:20px;font-size:1.8em;">
      <div class="cabin" style="text-align:left;padding-left:105px;"><span style="margin-right:140px;font-weight:600;">Login Below </span>Need an account? <a href="/signup" style="margin-right:10px;">Sign up</a></div>
    </div>

    <form ng-submit="login()">

      <div style="display:flex;align-items:center;padding-left:100px;width:100%;">
        <div class="cabin" style="color:#888888;font-weight:600;font-size:1.5em;margin-right:40px;width:100px;">Full Name</div>
        <div class="mdl-textfield mdl-js-textfield" style="width:420px;">
          <input class="mdl-textfield__input" type="text" id="login_username" ng-model="login_username"/>
          <label class="mdl-textfield__label" for="login_username">What your teacher calls you</label>
        </div>
      </div>

      <div style="display:flex;align-items:center;padding-left:98px;width:100%;">
        <div class="cabin" style="color:#888888;font-weight:600;font-size:1.5em;margin-right:42px;width:100px;">Password</div>
        <div class="mdl-textfield mdl-js-textfield" style="width:420px;">
          <input class="mdl-textfield__input" type="password" id="login_password" ng-model="login_password"/>
          <label class="mdl-textfield__label" for="login_password">Hard to guess but easy to remember</label>
        </div>
      </div>

      <div style="text-align:right;padding-right:90px;">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                style="margin-bottom:30px;" ng-disabled="empty_login()">Login</button>
      </div>
    </form>

  </div>
</div>