<div class="jumbotron text-center">

  <h3>Welcome to QA Page</h3>

</div>

<div class="container-fluid nopadding">
  <div class="row">

    <!-- Left Column -->
    <!-- Class Material info? -->
    <div class="col-md-6">

      <div class="panel panel-info">
        <div class="panel-heading">Class Material</div>
        <div class="panel-body">
          <!-- <h4>Title: {{material.title}}</h4> -->
        	<!-- <h4>Description: {{material.description}}</h4> -->
        </div>
      </div>

    </div>

    <!-- Right Column -->
    <!-- asking answering Question stuff -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">Questions stuff</div>
        <div class="panel-body">


          <div class="form-group">
            <label for="askQues">Ask A Question:</label>
            <textarea type="text" class="form-control" id="ask_ques" placeholder="..." ng-model="ask_ques"></textarea>
          </div>


          <button type="button" name="button" class="btn btn-success" ng-disabled="!ask_ques" ng-click="ask_question()">Ask</button>



        </div>
      </div>

      <div ng-repeat="question in questions | orderBy:'-timestamp' ">
        <h4>{{question.body}}</h4>
        <h4>By: {{question.poster}}</h4>
        <h4>{{question.timestamp}}</h4>
        <textarea type="text" class="form-control" id="answer_ques" placeholder="..." ng-model="question.ans"></textarea>
        <button type="button" name="button" class="btn btn-success" ng-disabled="!question.ans" ng-click="answer_question($index)">Answer</button>
        <a href="#" ng-click="show_answers($index)">Show all answers</a>

        <div ng-repeat="answer in question.answers">
          <h6>{{answer.answer}}</h6>
          <h6>By: {{answer.poster}}</h6>
          <h6>{{answer.timestamp}}</h6>
        </div>

      </div>

    </div>
  </div>
</div>
