<div class="jumbotron text-center">

  <h3>Welcome to QA Page</h3>

</div>

<div class="container-fluid nopadding">
  <div class="row">

    <!-- Left Column -->
    <!-- Class Material info? -->
    <div class="col-md-6">

      <div class="panel panel-info">
        <div class="panel-heading">Class Material</div>
        <div class="panel-body">
          <!-- <h4>Title: {{material.title}}</h4> -->
        	<!-- <h4>Description: {{material.description}}</h4> -->
        </div>
      </div>

    </div>

    <!-- Right Column -->
    <!-- asking answering Question stuff -->
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">Questions stuff</div>
        <div class="panel-body">


          <div class="form-group">
            <label for="askQues">Ask A Question:</label>
            <textarea type="text" class="form-control" id="askQues" placeholder="..." value=""></textarea>
          </div>


          <button type="button" name="button" class="btn btn-success" ng-click="ask_question()">Ask</button>



        </div>
      </div>

      <div ng-repeat="question in questions | orderBy:'-timestamp' ">
      <h4>{{question.body}}</h4>
      <h4>By: {{question.poster}}</h4>
      <h4>{{question.timestamp}}</h4>
      </div>

    </div>
  </div>
</div>
