<div class="jumbotron text-center">

  <h3>Welcome to QA Page</h3>

</div>

<div class="container-fluid nopadding">
  <div class="row">

    <!-- Left Column -->
    <!-- Class Material info? -->
    <div class="col-md-8">

      <div class="panel panel-primary">
        <div class="panel-heading">Class Material</div>
        <div class="panel-body nopadding">
          <iframe style="height:1000px; width:100%" title="PDF" src="{{material}}"></iframe>
          <!-- <iframe src="http://docs.google.com/gview?url=" + {{material}} + "&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe> -->

          <!-- <embed ng-src="{{material}}" style="width:200px;height:200px;"></embed> -->
          <!-- <h4>Title: {{material.title}}</h4> -->
        	<!-- <h4>Description: {{material.description}}</h4> -->
        </div>
      </div>

    </div>

    <!-- Right Column -->
    <!-- asking answering Question stuff -->
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">Questions stuff</div>
        <div class="panel-body">


          <div class="form-group">
            <label for="askQues">Ask A Question:</label>
            <textarea type="text" class="form-control" id="ask_ques" placeholder="..." value=""></textarea>
          </div>


          <button type="button" name="button" class="btn btn-success" ng-click="ask_question()">Ask</button>



        </div>
      </div>

      <div ng-repeat="question in questions | orderBy:'-timestamp' ">
        <h4>{{question.body}}</h4>
        <h4>By: {{question.poster}}</h4>
        <h4>{{question.timestamp}}</h4>
        <textarea type="text" class="form-control" id="answer_ques" placeholder="..." value=""></textarea>
        <button type="button" name="button" class="btn btn-success" ng-click="answer_question(question.question_id)">Answer</button>

      </div>

    </div>
  </div>
</div>
