<div style="text-align:center;display:flex;justify-content:center;align-items:center;width:100%;height:90vh;">
    <div style="border-radius:10px;width:750px;background-color:#ededed;position:relative;z-index:1; margin-top:30px;
    -webkit-box-shadow: 0px 5px 5px 0px #444444;
    -moz-box-shadow: 0px 5px 5px 0px #444444;
    box-shadow: 0px 5px 5px 0px #444444;">

        <div style="color:#4caf50;padding-top:70px;font-family:KGH;font-size:8em;">ClassQA</div>
        <div style="color:#4caf50;padding-top:70px;font-family:KGHSolid;font-size:2em;">Better than Piazza and Sullstice</div>
        <div style="color:#888888;padding-top:40px;padding-bottom:40px;font-size:1.5em;">
            <div class="cabin">Need an account? <a href="/signup" style="margin-right:10px;">Sign up</a> Already have an account? <a href="/login">Login</a></div>
        </div>

    </div>
</div>