body { padding:0; margin:0; width:100vw; min-height:100vh; }

.nopadding {
  padding: 0px;
}


*{
}

@font-face {
  font-family: KGH;
  src: url(../fonts/happy/KGHAPPY.ttf);
}

@font-face {
  font-family: KGHSolid;
  src: url(../fonts/happy/KGHAPPYSolid.ttf);
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/cabin/Cabin-Regular.otf);
}
.cabin { font-family: Cabin; }

.mdl-textfield__label:after{
  bottom:15px !important;
}